@font-face {
  font-family: 'iconfont';  /* project id 226645 */
  src: url('//at.alicdn.com/t/font_ehh81xyfyha4te29.eot');
  src: url('//at.alicdn.com/t/font_ehh81xyfyha4te29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ehh81xyfyha4te29.woff') format('woff'),
  url('//at.alicdn.com/t/font_ehh81xyfyha4te29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ehh81xyfyha4te29.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont.icon{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 40px;
  border:2px solid #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.iconfont.food::before{
  content: "\e7b8";
}
.iconfont.buy::before{
  content: "\e849";
}
.iconfont.house::before{
  content: "\e783";
}
.iconfont.traffic::before{
  content: "\e7db";
}
.iconfont.in::before{
  content: "\e77a";
}
.iconfont.other::before{
  content: "\e68d"
}
.iconfont.cloth::before{
  content: "\e727"
}
.icon-list::before{
  content: "\e795";
  margin-right: 20px;
}
.icon-sum::before{
  content: "\e6c4";
  margin-right: 20px;
}
.icon-chart::before{
  content: "\e618";
  margin-right: 20px;
}

.icon-loading{
  text-align: center;
  font-size: 40px;
}